
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../public/fonts/Roboto-Bold.woff2') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../public/fonts/Roboto-Regular.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Roboto-Light';
  src: url('../../public/fonts/Roboto-Light.woff2') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Disket-Mono-Bold';
  src: url('../../public/fonts/Disket-Mono-Bold.woff2') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Disket-Mono-Regular';
  src: url('../../public/fonts/Disket-Mono-Regular.woff2') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}