$large-400-32-Roboto-400:400 32px Roboto-Regular,sans-serif;
$h5-400-24-Roboto-Regular:400 24px Roboto-Regular,sans-serif;
$normal-400-20-Roboto-Regular:400 20px Roboto-Regular,sans-serif;
$medium-400-16-Roboto-Regular:400 16px Roboto-Regular,sans-serif;
$small-400-12-Roboto-Regular:400 14px Roboto-Regular,sans-serif;
$small-400-12-Roboto-Regular:400 9px Roboto-Regular,sans-serif;

$promo-400-100-Roboto-Regular:400 106px Roboto-Regular,sans-serif;
$h1-400-72-Roboto-Regular:400 72px Roboto-Regular,sans-serif;
$h2-400-56-Roboto-Regular:400 56px Roboto-Regular,sans-serif;
$h3-400-42-Roboto-Regular:400 42px Roboto-Regular,sans-serif;
$h4-400-32-Roboto-Regular:400 32px Roboto-Regular,sans-serif;
$h5-400-24-Roboto-Regular:400 24px Roboto-Regular,sans-serif;

$promo-300-100-Roboto-Light:300 106px Roboto-Light,sans-serif;
$h1-300-72-Roboto-Light:300 72px Roboto-Light,sans-serif;
$h2-300-56-Roboto-Light:300 48px Roboto-Light,sans-serif;
$h3-300-42-Roboto-Light:300 42px Roboto-Light,sans-serif;
$h4-300-32-Roboto-Light:300 16px Roboto-Light,sans-serif;
$h5-300-24-Roboto-Light:300 13px Roboto-Light,sans-serif;


$mobile-promo-700-48-Disket-Mono-Bold: 700 48px Disket-Mono-Bold, sans-serif;
$mobile-h1-700-48-Disket-Mono-Bold: 700 38px Disket-Mono-Bold, sans-serif;
$mobile-h2-700-48-Disket-Mono-Bold: 700 32px Disket-Mono-Bold, sans-serif;
$mobile-h3-700-48-Disket-Mono-Bold: 700 48px Disket-Mono-Bold, sans-serif;
$mobile-h4-700-48-Disket-Mono-Bold: 700 24px Disket-Mono-Bold, sans-serif;
$mobile-h5-700-48-Disket-Mono-Bold: 700 20px Disket-Mono-Bold, sans-serif;

$mobile-promo-700-48-Disket-Mono-Regular: 700 48px Disket-Mono-Regular, sans-serif;
$mobile-h1-700-48-Disket-Mono-Regular: 700 38px Disket-Mono-Regular, sans-serif;
$mobile-h2-700-48-Disket-Mono-Regular: 700 32px Disket-Mono-Regular, sans-serif;
$mobile-h3-700-48-Disket-Mono-Regular: 700 28px Disket-Mono-Regular, sans-serif;
$mobile-h4-700-48-Disket-Mono-Regular: 700 24px Disket-Mono-Regular, sans-serif;
$mobile-h5-700-48-Disket-Mono-Regular: 700 20px Disket-Mono-Regular, sans-serif;

