.iframe {
    max-width: 600px;
    @media (max-width: 800px) {
    max-width: 580px;
  }
  @media (max-width: 760px) {
    max-width: 550px;
  }
  @media (max-width: 730px) {
    max-width: 520px;
  }
  @media (max-width: 680px) {
    max-width: 500px;
  }
  @media (max-width: 630px) {
    max-width: 450px;
  }
   @media (max-width: 580px) {
    max-width: 400px;
  }
  @media (max-width: 510px) {
    max-width: 300px;
    max-height: 300px;
  }
  @media (max-width: 400px) {
    max-width: 270px;
    max-height: 270px;
  }
}