@use "../../../styles/globals.scss" as globals;

.wrapperHomePage {
  margin: 0 auto;
}

.homeBaner {
  margin: 5px auto 20px auto;
  @media (max-width: 1350px) {
    max-width: 90%;
  }
}
.homeBanner_2 {
  @media (max-width: 1350px) {
    width: 200px;
  }
  @media (max-width: 1170px) {
    width: 180px;
  }
  @media (max-width: 1050px) {
    width: 150px;
  }
  @media (max-width: 990px) {
    width: 190px;
  }
  @media (max-width: 890px) {
    width: 165px;
  
  }
  @media (max-width: 800px) {
    width: 160px;
  
  }
  @media (max-width: 760px) {
    display: none;
  }
}
.wrapperCard {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-direction: row;

  @media (max-width: 1350px) {
    max-width: 83%;
    gap: 0px;
  }
  @media (max-width: 890px) {
    max-width: 80%;
  }
  @media (max-width: 800px) {
    max-width:77%;
  }
  @media (max-width: 760px) {
    max-width: 400px;
    max-width: 460px;
  }
}
.cardsWrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  height: 100%;
  @media (max-width: 1350px) {
    max-width: 710px;
    margin: 0 auto;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0px;
  }
  @media (max-width: 1170px) {
    max-width: 650px;
  }
   @media (max-width: 990px) {
    max-width: 500px;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 890px) {
    max-width: 450px;
  
  }
   @media (max-width: 800px) {
    max-width: 415px;
  
  }

@media (max-width: 760px) {
    grid-template-columns: repeat(1, 1fr);
    max-width: 200px;
  }
  @media (max-width: 760px) {
    grid-template-columns: repeat(2, 1fr);
    max-width: 200px;
  }
  @media (max-width: 760px) {
    grid-template-columns: repeat(2, 1fr);
    max-width: 450px;
    justify-items: center;
  }
   @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }
  
}


.wrapperBrandFilter {
  max-width: 43%;
  display: flex;
  margin: 20px 0 20px 160px;
  gap: 20px;
  @media (max-width: 660px) {
    margin: 14px 0 10px 95px;
  }
  @media (max-width: 580px) {
    margin: 12px 0 10px 80px;
    gap: 14px;
  }
  @media (max-width: 450px) {
    margin: 12px 0 10px 55px;
  }
  @media (max-width: 400px) {
    margin: 12px 0 10px 35px;
  }
}
.brand {
  max-width: 1400px;
  display: flex;
  gap: 20px;
}
.brand:hover {
  color: globals.$button-hover;
  opacity: 0.8;
  text-decoration: underline;
  transition: color 0.5s ease;
}

.brandActive {
  color: globals.$button-hover;
}

.wrapperImg {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.wrapperBtnShowMore {
  margin: 0 auto 20px auto;
  max-width: 300px;
  display: flex;
  justify-content: center;
}
.btnShowMore {
  border: 2px solid globals.$black;
  border-radius: 4px;
  padding: 6px;
  align-items: center;
  font: globals.$h4-300-32-Roboto-Light;
}

.btnShowMore:hover {
  border-color: globals.$button-hover;
  color: globals.$button-hover;
  transition: color 0.5s ease;
}
