@use '../../../styles/globals.scss' as globals;

.listWrapper {
    padding-left: 15px;
    display: flex;
    align-items: center;
    height: 155px;
    width: 800px;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    @media (max-width: 1170px) {
        max-width: 630px;
    }

    @media (max-width: 1000px) {
        height: 450px;
        max-width: 150px;
        flex-direction: column;
        padding: 10px 0px 0px 0px;
        row-gap: 10px;
        max-height: 340px;    
    }
}


.imgCart {
    object-fit: contain;
    width: 200px;
    height: 120px;

    @media (max-width: 1000px) {
        height: 90px;
    }
}
.contentWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin-left: 30px;

    @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        margin: 0;
        text-align: center;
    }
}



.titleCart {
    color: globals.$blue-color;
    opacity: 0.8;

    @media (max-width: 1000px) {
        font-size: 13px;
    }
}

.priceCart {
    color: globals.$orange;
    font: globals.$h5-700-24-RFDewi;
    font-size: 20px;
    opacity: 0.7;

    @media (max-width: 1000px) {
        font-size: 15px;
    }
}

.wrapperButton {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80px;
    border: 1px solid #353535;
    border-radius: 5px;

    
}

.btnCounter {
    width: 40px;
    font: globals.$h5-700-24-RFDewi;
    font-size: 18px;
    opacity: 0.5;
}

.btnCounter:hover {
    color: globals.$grey-light;
    background: globals.$grey;
    border-color: globals.$grey;
}

.count {
    font: globals.$h5-700-24-RFDewi;
    font-size: 18px;
    opacity: 0.6;
}

.wrapperCount {
    display: flex;
    height: 70px;
    justify-content: space-between;
    flex-direction: column;
    margin: 45px 0 0 45px;

    @media (max-width: 1000px) {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0;
    }
}

.titleCount {
    color: globals.$orange;
    font: globals.$h5-700-24-RFDewi;
    font-size: 20px;
}

.buttonRemove {
    color: globals.$orange;
    border: 1px solid #ff7b00;
    width: 90px;
    border-radius: 6px;
    height: 25px;
}

.buttonRemove:hover {
    color: globals.$white;
    background: globals.$orange;
}
.buttonRemove:active {
    opacity: 0.6;
}
